[submodule "docker-elfk-docker-compose"]
	path = docker-elfk-docker-compose
	url = git@github.com:firefoxmmx2/docker-elfk-docker-compose.git
[submodule "kafka-elk-docker-compose"]
	path = kafka-elk-docker-compose
	url = git@github.com:sermilrod/kafka-elk-docker-compose.git
[submodule "kafka-stack-docker-compose"]
	path = kafka-stack-docker-compose
	url = git@github.com:conduktor/kafka-stack-docker-compose.git
